body
{
    font-family: 'Lato', sans-serif;
    color: #41484b;
}



#homeFullScreen {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
}

#homeFullScreen {
    background-image: url('../images/header.png');
    overflow: hidden;
}

#homeFullScreen {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.header-text h1
{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: #fff;
}


.feature img
{
    width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.feature-box
{
    padding: 20px;
}

.feature-box h1
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;   
    margin-top: 2em;
}

.feature-box p
{
    font-size: 25px;
    text-align: justify;
}

#latestupdate:hover{
    background-color: white;
    /* color: black; */
}



.portfolio .heading
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 50px 0px;
}

.portfolio img
{
    width: 100%;
    cursor: pointer;
}

.portfolio .last-img
{
    margin-bottom: 20px;
}


.call-top-action
{
    background-color: #42484c;
    color: #fff;
    padding: 50px 0px;
    margin-top: 50px;
}

.call-top-action h1
{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin: 0px;
}

.call-top-action p
{
    font-size: 22px;
    margin-bottom: 20px;
}

.call-top-action span
{

    font-size: 24px;
    font-weight: bold;
}

footer
{
    text-align: center;
    /* margin-top: 30px; */
}

footer ul
{
    padding: 0px;
    list-style: none;
    margin: 20px;
}

footer ul li
{
    display: inline-block;
    margin-left: 15px;
}

footer ul li a span
{
    width: 50px;
    height: 50px;
    background: #42484C;
    display: block;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
}

footer .copyright
{
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
}

@media (max-width: 480px) {
	
}

@media (max-width: 767px) {
    .header-text h1 {
        font-size: 45px;
    }

    .header-text .vertical-line {        
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header-text p {
        font-size: 20px;
        color: #fff;
    }

    .feature-box {
        padding: 0px;
    }

    .feature-box h1 {
        font-size: 25px;
        margin-top: 2em;
    }

    .feature-box p {
        font-size: 20px;
        text-align: justify;
    }

    .nopadding {
        padding: 15px !important;
        margin: 0 !important;
    }

    .portfolio img {        
        margin-bottom: 15px;
    }

    .call-top-action h1 {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 15px !important;
        margin: 0px;
    }

    .call-top-action p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .call-top-action span {
        font-size: 15px;
        font-weight: bold;
    }

    footer ul li a span {
        width: 40px;
        height: 40px;
        background: #42484C;
        display: block;
        font-size: 22px;
        line-height: 40px;
        color: #fff;
        border-radius: 50%;
    }

    footer .copyright {
        font-size: 16px;
        margin-bottom: 20px;
        display: block;
    }
}

@media (min-width: 768px) {  
    .header-text h1 {
        font-size: 45px;
    }

    .header-text p {
        font-size: 20px;
        color: #fff;
    }

    .feature-box h1 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 1em;
    }
	
    .feature-box p {
        font-size: 18px;
        text-align: justify;
    }

    .call-top-action h1 {
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 13px !important;
        margin: 0px;
    }

    .call-top-action p {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .call-top-action span {
        font-size: 17px;
        font-weight: bold;
    }

    footer {
        text-align: center;
        /* margin-top: 23px; */
    }

    footer ul li a span {
        width: 40px;
        height: 40px;
        background: #42484C;
        display: block;
        font-size: 22px;
        line-height: 40px;
        color: #fff;
        border-radius: 50%;
    }   

    footer .copyright {
        font-size: 18px;
    }



}
@media (min-width: 992px) { 
    .feature-box {
        padding: 10px;
    }

    .feature-box h1 {
        font-size: 30px;    
    }

    .feature-box p {
        font-size: 20px;
    }

    .call-top-action p
    {
        font-size: 19px;
    }

    .call-top-action h1 {
        font-size: 30px;
       margin-bottom: 15px !important;
    }

    .call-top-action span {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
body
{
    font-family: 'Lato', sans-serif;
    color: #41484b;
}


/* /* .nav1 {
    background-color: black;
  }
  .a1:hover {
    border-bottom: 2px solid;
    transition: all 0.5s;
    background-color: #555;
    transition: height 0.9s ease-in;
  }
  .dr a {
    color: white;
  }
  .na img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  @media (max-width: 770px) {
    .dr {
      background-color: rgba(66, 66, 66, 0.829);
    }
    .lis {
      margin-left: -6rem;
    }
    .ul1 {
      margin-left: -230px;
    }
    .ul1 a {
      border-bottom: 1px solid;
      padding-left: 30px;
    }
    .na a {
      font-size: small;
    }
    .na img {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width: 350px) {
    .na b {
      font-size: 10px;
      width: 20px;
      height: 20px;
    }
    .head {
      margin-left: 74vw;
    }
    .ser {
      height: 555px;
    }
  }
  @media (max-width: 991px) {
    .ul1 {
      margin-left: -230px;
    }
    .ul1 a {
      border-bottom: 1px solid;
      padding-left: 30px;
    }
    .a1 {
      padding-left: 30px;
    }
  }
  @media (max-width: 1300px) {
    .ul1 {
      margin-left: -170px;
    }
  } */

  /* .nav1 {
    background-color: black;
  }
  .a1:hover {
    border-bottom: 2px solid;
    transition: all 0.5s;
    background-color: #555;
    transition: height 0.9s ease-in;
  }
  .dr a {
    color: white;
  }

  .abtus a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
  }


  .na img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  } */

  @media (max-width: 767px) {
    .na img {
        width: 30px;
        height: 30px;
      }
      .lis {
        margin-left: -6rem;
      }
      .ul1 {
        margin-left: -230px;
      }
      .ul1 a {
        border-bottom: 1px solid;
        padding-left: 30px;
      }
}
@media (max-width: 350px) {
    .na b {
      font-size: 10px;
      width: 20px;
      height: 20px;
    }
    .head {
      margin-left: 74vw;
    }
    .ser {
      height: 555px;
    }
  }
  @media (max-width: 991px) {
    .ul1 {
      margin-left: -230px;
    }
    .ul1 a {
      border-bottom: 1px solid;
      padding-left: 30px;
    }
    .a1 {
      padding-left: 30px;
    }
  }
  @media (max-width: 1300px) {
    .ul1{
      margin-left:-170px ;
    }
  } */



#homeFullScreen {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
}

#homeFullScreen {
    background-image: url('../images/header.png');
    overflow: hidden;
}

#homeFullScreen {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.header-text h1
{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: #fff;
}

.feature img
{
    width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.feature-box
{
    padding: 20px;
}

.feature-box h1
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;   
    margin-top: 2em;
}

.feature-box p
{
    font-size: 25px;
    text-align: justify;
}

.portfolio .heading
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 50px 0px;
}

.portfolio img
{
    width: 100%;
    cursor: pointer;
}

.portfolio .last-img
{
    margin-bottom: 20px;
}

.call-top-action
{
    background-color: #42484c;
    color: #fff;
    padding: 50px 0px;
    margin-top: 50px;
}

.call-top-action h1
{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin: 0px;
}

.call-top-action p
{
    font-size: 22px;
    margin-bottom: 20px;
}

.call-top-action span
{

    font-size: 24px;
    font-weight: bold;
}

footer
{
    text-align: center;
    /* margin-top: 30px; */
}

footer ul
{
    padding: 0px;
    list-style: none;
    margin: 20px;
}

footer ul li
{
    display: inline-block;
    margin-left: 15px;
}

footer ul li a span
{
    width: 50px;
    height: 50px;
    background: #42484C;
    display: block;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
}

footer .copyright
{
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
}


}


.lin {
    color: aliceblue;
  }
  .lin:hover {
    text-decoration: none;
    color: bisque;
    text-decoration:underline;
    font-weight: bolder;
  }
  .col {
  
    padding: 25px;
  }
  .lasfoo {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
  }
  .bd {
    background-color: black;
    width: 100vw;
    height: 50vh;
  }
  .bd h1 {
    text-align: center;
    color: white;
  }
  
  
  #foot {
    background-color: black;
    color: aliceblue;
    text-align: center;
  }
  .lin {
    color: rgb(255, 255, 255);
  }
  .lin:hover {
    text-decoration: none;
    color: rgb(152, 155, 12);
  }
  .col {
    background-color: rgb(78, 78, 78);
    position: relative;
  
    padding: 25px;
  }
  .foo {
    padding-left: 40px;
  }
  .lasfoo {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
  }
  .bd {
    background-color: black;
    width: 100vw;
    height: 50vh;
  }
  .bd h1 {
    text-align: center;
    color: white;
  }
  .page-footer{
    background-color: black;
  }

  /*  */
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    background-color: white;
    color: rgb(0, 0, 0);

  }

  p {
    font-size: large;
  }



  #speaktous {
    margin-top: 25px;
    background-color: rgba(216, 207, 207, 0.788);
    border-radius: 8px;
    color: black;
    height: 48px;
    width: 149.5px;
    font-weight: bolder;
  }

 /* Navbar */
  
  
  .nav1 {
    background-color: black;
  }
  .a1:hover {
    border-bottom: 2px solid;
    transition: all 0.5s;
    background-color: #555;
    transition: height 0.9s ease-in;
  }
  .dr a {
    color: white;
  }

  .abtus a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
  }


  .na img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  @media (max-width: 770px) {
    .dr {
      background-color: rgba(66, 66, 66, 0.829);
    }
    .lis {
      margin-left: -6rem;
    }
    .ul1 {
      margin-left: -230px;
    }
    .ul1 a {
      border-bottom: 1px solid;
      padding-left: 30px;
    }
    .na a {
      font-size: small;
    }
    .na img {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width: 350px) {
    .na b {
      font-size: 10px;
      width: 20px;
      height: 20px;
    }
    .head {
      margin-left: 74vw;
    }
    .ser {
      height: 555px;
    }
  }
  @media (max-width: 991px) {
    .ul1 {
      margin-left: -230px;
    }
    .ul1 a {
      border-bottom: 1px solid;
      padding-left: 30px;
    }
    .a1 {
      padding-left: 30px;
    }
  }
  @media (max-width: 1300px) {
    .ul1 {
      margin-left: -170px;
    }
  }
  

  @media screen and (max-width: 768px){

    #cardimg{
      width:100%;
    }
    .row-cols-md-3{
      width: 100%;
      float: left;
      margin: 0;
    }

    .card{

      margin-left: 20px;
    }

  }
  /* Navbar */


  /* #cname {
    color: white;
}

#cname:hover {
    color: yellow;
    font-size: larger;
}

.nav-link {
    letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(255, 230, 1);
}

.dropdown-item:hover{
background-color: rgb(0, 0, 0);
}

.nav-link:hover {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
} */

  #cardbtn {
    margin-top: 25px;
    background-color: rgba(216, 207, 207, 0.788);
    border-radius: 8px;
    color: black;
    height: 48px;
    width: 174.85px;
    font-weight: bolder;
  }

  #individual:hover{
    background-color: black;
    color: white;
  }

  #arrowbtn {
    /* float: right; */
    background-color: red;
    font-weight: lighter;
    height: fit-content;

  }

  #arrowbtn:hover {
    background-color: black;
    color: white;
  }

  /* .middle{
          background-color: black;
          } */

  .ml3:hover{
    letter-spacing: 1px;
  }

  .ml10:hover{
    letter-spacing: 1px;
  }

  .bottom {
    margin-top: 50px;
    border-radius: 15px;
    height: fit-content;
    background-color: rgb(212, 211, 211);
  }

  #bottomheading {
    /* width: max-content; */
    margin-top: 130px;
    font-weight: bolder;
  }
  #bottomheading1 {
    /* width: max-content; */
    margin-top: 60px;
    font-weight: bolder;
    text-align: center;
    padding: 50px;
  }  

  #cardimg:hover {
    opacity: 0.8;
  }

  .bottom {
    background-color: rgb(148, 143, 143);
  }

  #speaktousbtn {
    color: black;
    border: 2px solid white;
  }

  #aboutusbtn {
    color: white;
    border: 2px solid black;
  }

  #speaktousbtn:hover {
    color: white;
    border: 2px solid black;
  }

  #aboutusbtn:hover {
    color: black;
    border: 2px solid white;
  }

  .ml3 {
    font-weight: 600;
    font-size: 1.5em;
  }

  .ml10 {
    position: static;
    font-weight: 700;
    font-size: 2.3em;
  }

  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }

  .ml10 .letter {
    /* display: ; */
    line-height: 1em;
    transform-origin: 0 0;
  }



/* ------------------------------Footer------------------------------ */

  .lin {
    color: aliceblue;
  }
  .lin:hover {
    text-decoration: none;
    color: bisque;
    text-decoration:underline;
    font-weight: bolder;
  }
  .col {
  
    padding: 25px;
  }
  .lasfoo {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
  }
  .bd {
    background-color: black;
    width: 100vw;
    height: 50vh;
  }
  .bd h1 {
    text-align: center;
    color: white;
  }


  #foot {
    background-color: black;
    color: aliceblue;
    text-align: center;
  }
  .lin {
    color: rgb(255, 255, 255);
  }
  .lin:hover {
    text-decoration: none;
    color: rgb(152, 155, 12);
  }
  .col {
    background-color: rgb(78, 78, 78);
    position: relative;
  
    padding: 25px;
  }
  .foo {
    padding-left: 40px;
  }
  .lasfoo {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
  }
  .bd {
    background-color: black;
    width: 100vw;
    height: 50vh;
  }
  .bd h1 {
    text-align: center;
    color: white;
  }
  .page-footer{
    background-color: black;
  }



  
  
@media (max-width: 767px) {
    .na img {
        width: 30px;
        height: 30px;
      }
      .lis {
        margin-left: -6rem;
      }
      .ul1 {
        margin-left: -230px;
      }
      .ul1 a {
        border-bottom: 1px solid;
        padding-left: 30px;
      }
}
@media (max-width: 350px) {
    .na b {
      font-size: 10px;
      width: 20px;
      height: 20px;
    }
    .head {
      margin-left: 74vw;
    }
    .ser {
      height: 555px;
    }
  }
  @media (max-width: 991px) {
    .ul1 {
      margin-left: -230px;
    }
    .ul1 a {
      border-bottom: 1px solid;
      padding-left: 30px;
    }
    .a1 {
      padding-left: 30px;
    }
  }
  @media (max-width: 1300px) {
    .ul1{
      margin-left:-170px ;
    }
  }

  #btmbtn:hover{
    background-color: rgb(255, 255, 255);
  }
  #btmbtn:hover{
    background-color: rgb(255, 255, 255);
  }

  #btmbtn{
    font-size: 1.4rem;
  }

  /* .navbar{
    opacity: 1;
  }

  .dropdown-menu{
    background-color: rgb(17, 66, 66);
  }

  .nav-link {
    color: black;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
  }
  
  .menu-bar{
    background-image: linear-gradient(-90deg, #d38312, #a83279);
  } */

  .button {
    width: 200px;
       padding: 15px 0;
       text-align: center;
       margin: 20px 10px;
       border-radius: 25px;
       font-weight: bold;
       border: 2px solid #009688;
       background: transparent;
       position: relative;
       overflow: hidden;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #fff;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
