
.container
{
        width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container .column
{
    width:20%;
    height:100%;
    float:left;
    border-right: 2px solid rgba(0,0,0,.5);
    box-sizing:border-box;
    z-index:-1 ;
}
.container .column:last-child{
    border-right: none;
}
.container .column .content
{
    position: absolute;
    height: 75%;
    
}
.container .column .content h1{
    position:absolute;
    top:45%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0,0,0,.1);
    text-align: center;
    margin:10px;
    padding: 0px;
    color: rgba(255,255,255,.2);
    font-size: 3em;
    border-top: 2px solid rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.5);
}
.button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    position: relative;
    overflow: hidden;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #1B1B1B;
    
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
}

.button:hover span {
    padding-right: 25px;
    
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.container .column .content .box
{
    position:absolute;
    top: 50%;
    transform: translateY(100%);
    box-sizing: border-box;
    padding: 2px;
    background: #1B1B1B;
    text-align: center;
    transition: 0.5s;
    opacity:0;
}
.container .column.active .content .box
{
    opacity:1;
    transform: translateY(-50%);
}
.container .column .content .box h2
{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color:#fff;
}
.container .column .content .box p{
    color:#fff;
    font-size:18px;

}
.container .column .bg
{
    position: absolute;
    padding-top: 105%;
    top: 95%;
    left: 0;
    width :100%;
    pointer-events: none;
    z-index: -1;
}
.container .column.active .bg.bg1
{
    background: url("images/accounts.jpg") no-repeat center fixed ;
    background-size: cover;
   
}
.container .column.active .bg.bg2
{
    background: url("images/taxservices.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}
.container .column.active .bg.bg3
{
    background: url("images/vat.jpg") no-repeat center fixed;
    background-size: cover;
   
    transition: 0.5s;
}
.container .column.active .bg.bg4
{
    background: url("images/payroll.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}
.container .column.active .bg.bg5
{
    background: url("images/cis.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}